body{
    background-color: #e4e9f7;
}

.row{
    padding-top: 2%;
    padding-bottom: 4%;
}

.box {
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
            0 32px 64px -48px rgba(0,0,0,0.5);
            justify-content: center;
            align-items: center;
    margin-left: -100px;
    margin-right: -100px;
}

.navtitle {
    font-family: 'Lato', sans-serif;
}

.heads {
    font-family: 'Coustard', serif;
    font-size: 100px;
    color: #ffffff;
    padding-top: 1%;
}

.navbar {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16), 0 3px 4px;
}

.container .card{
    width: 110%;
}

.container .form-box label{
    padding-top: 5%;
    font-size: 20px;
}

.container .form-box label{
    font-size: 20px;
}


.container .form-box .btn{
    background-color: #89ABE3FF;
    color: #FCF6F5FF;
    margin-top: 5%;
    width: 150px;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 22px;
    padding: 10px 20px;
    justify-content: center;
}

.container .form-box .btn:hover{
    background-color: #F2AA4CFF;
}

.container .links{
    margin-top: 5%;
}

.container .links a{
    color: #89ABE3FF; 
    font-size: 22px;
}

.container .links a:hover{
    color: #F2AA4CFF;
}

.container .links p{
    font-size: 22px;
    text-align: center;
}

.container .form-box-cont {
    margin-right: -150px;
    margin-left: 70px;
}

.container .form-box-cont input{
    font-size: 20px;
    padding: 20px;
}

.container .form-box-cont h2{
    font-size: 45px;
    font-family: 'Coustard', serif;
    color: white;
    background-color: #A8D5BA;
    margin-top: 5%;
}

.container .form-box-cont #output,
.container .form-box-cont #output2 {
    font-family: 'Coustard', serif;
    background-color: #F2AA4CFF;
    color: rgb(255, 255, 255);
    padding-left: 2%;
    top: -30px;
}
